.instaCalendar {
    position: relative;
}

.instaCalendar div,
.instaCalendar span,
.instaCalendar applet,
.instaCalendar object,
.instaCalendar iframe,
.instaCalendar h1,
.instaCalendar h2,
.instaCalendar h3,
.instaCalendar h4,
.instaCalendar h5,
.instaCalendar h6,
.instaCalendar p,
.instaCalendar blockquote,
.instaCalendar pre,
.instaCalendar a,
.instaCalendar abbr,
.instaCalendar acronym,
.instaCalendar address,
.instaCalendar big,
.instaCalendar cite,
.instaCalendar code,
.instaCalendar del,
.instaCalendar dfn,
.instaCalendar em,
.instaCalendar img,
.instaCalendar ins,
.instaCalendar kbd,
.instaCalendar q,
.instaCalendar s,
.instaCalendar samp,
.instaCalendar small,
.instaCalendar strike,
.instaCalendar strong,
.instaCalendar sub,
.instaCalendar sup,
.instaCalendar tt,
.instaCalendar var,
.instaCalendar b,
.instaCalendar u,
.instaCalendar i,
.instaCalendar center,
.instaCalendar dl,
.instaCalendar dt,
.instaCalendar dd,
.instaCalendar ol,
.instaCalendar ul,
.instaCalendar li,
.instaCalendar fieldset,
.instaCalendar form,
.instaCalendar label,
.instaCalendar legend,
.instaCalendar .ic-table,
.instaCalendar caption,
.instaCalendar .ic-tbody,
.instaCalendar .ic-tfoot,
.instaCalendar .ic-thead,
.instaCalendar .ic-tr,
.instaCalendar .ic-th,
.instaCalendar .ic-td,
.instaCalendar article,
.instaCalendar aside,
.instaCalendar canvas,
.instaCalendar details,
.instaCalendar embed,
.instaCalendar figure,
.instaCalendar figcaption,
.instaCalendar footer,
.instaCalendar header,
.instaCalendar hgroup,
.instaCalendar menu,
.instaCalendar nav,
.instaCalendar output,
.instaCalendar ruby,
.instaCalendar section,
.instaCalendar summary,
.instaCalendar time,
.instaCalendar mark,
.instaCalendar audio,
.instaCalendar video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;
    font: inherit;*/
    vertical-align: baseline;
    transition: none;
}

/* HTML5 display-role reset for older browsers */
.instaCalendar article,
.instaCalendar aside,
.instaCalendar details,
.instaCalendar figcaption,
.instaCalendar figure,
.instaCalendar footer,
.instaCalendar header,
.instaCalendar hgroup,
.instaCalendar menu,
.instaCalendar nav,
.instaCalendar section {
    display: block;
}

.instaCalendar ol,
.instaCalendar ul {
    list-style: none;
}

.instaCalendar blockquote,
.instaCalendar q {
    quotes: none;
}

.instaCalendar blockquote:before,
.instaCalendar blockquote:after,
.instaCalendar q:before,
.instaCalendar q:after {
    content: '';
    content: none;
}

.instaCalendar .ic-table {
    border-collapse: collapse;
    border-spacing: 0;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.instaCalendar {
    background-color: var(--primaryColor);
    color: var(--primaryTextColor);
    overflow: hidden;
    min-height: 400px;
}

.instaCalendar .ic-errors {
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(var(--primaryTextColorRGB),.5);;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 999;
    color: red;
    padding: 25% 25px;
    font-size: 16px;
}

.instaCalendar .ic-ell,
.instaCalendar a {
    color: var(--primaryTextColor);
    border-color: transparent;
}

.instaCalendar .ic-ell:hover,
.instaCalendar .ic-ell:hover .ic-ell,
.instaCalendar .active .ic-ell,
.instaCalendar .choosed .ic-ell,
.instaCalendar a:hover {
    color: var(--secondaryTextColor);
    border-color: var(--secondaryTextColor);
}

.instaCalendar .insta_table {
    display: table;
}

.instaCalendar .insta_table-tr {
    display: table-row;
}

.instaCalendar .insta_table-td {
    display: table-cell;
}

.instaCalendar .ic-calendar {
    margin: auto;
}

.instaCalendar .ic-calendar .ic-filters {
    position: relative;
}

.instaCalendar .ic-calendar .ic-halls {
    padding-right: 150px;
}

.instaCalendar .ic-calendar .ic-view {
    position: absolute;
    top: 0px;
    right: 0px;
}

.instaCalendar .ic-calendar .ic-filters ul {
    display: block;
    width: 100%;
}

.instaCalendar .ic-calendar .ic-filters ul li {
    list-style: none;
    display: inline-block;
}

.instaCalendar .ic-calendar .ic-filters ul li a.ic-filter-item {
    padding: 0px 2px;
    margin: 2px 10px;
    display: block;
    border-bottom: 2px solid transparent;
    font-size: var(--desktop_nav_filter_font);
    text-transform: uppercase;
    text-align: center;
    line-height: var(--desktop_nav_filter_font);
}

.instaCalendar .ic-calendar .ic-filters ul li a.ic-filter-item span {
    display: block;
    min-height: 18px;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    margin-top: 0px;
    border-top: 2px solid transparent;
}

.instaCalendar .ic-calendar .ic-filters ul li.active a.ic-filter-item,
.instaCalendar .ic-calendar .ic-filters ul li.choosed a.ic-filter-item {
    font-weight: bold;
}

.instaCalendar .ic-calendar .ic-filters .ic-row_2 ul li a.ic-filter-item {
    border: none;
}

.instaCalendar .ic-calendar .ic-filters .ic-row_2 ul li a.ic-filter-item:hover {
    border: none;
}

.instaCalendar .ic-calendar .ic-filters ul li a.ic-filter-item.active {

}

.instaCalendar .ic-calendar .ic-filters ul li.active a.ic-filter-item div {
    border-color: rgba(var(--primaryTextColorRGB),.7);
}
.instaCalendar .ic-halls{
    margin-bottom: 10px;
}
.instaCalendar .ic-zones {
    margin-bottom: 20px;
}
.instaCalendar .ic-row_2,
.instaCalendar .ic-zones{
    clear: both;
}

.instaCalendar .ic-calendar .ic-filters .ic-halls ul li.active a.ic-filter-item{
    border-bottom: 2px solid;
}

.instaCalendar .ic-calendar .ic-filters .ic-zones ul li a.ic-filter-item{
    font-size: calc(var(--desktop_nav_filter_font) - 2px);
}

.instaCalendar .ic-controls {
    margin-top: 40px;
    position: relative;
    clear: both;
    width: 100%;
}

.instaCalendar .ic-controls .ic-control {
    position: absolute;
    text-align: center;
    font-size: 26px;
    width: 36px;
    height: 36px;
    left: 15px;
    top: calc(50% - 18px);
    line-height: 36px;
    cursor: pointer;
    z-index: 10;
}

.instaCalendar .ic-control.ic-control_right {
    right: 15px;
    left: initial;
}

.instaCalendar .ic-control span {
    color: var(--primaryTextColor);
    font-size: 32px;
    font-weight: bold;
    line-height: 20px;
}

.instaCalendar .ic-controls .ic-control a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.instaCalendar .ic-controls .ic-title_month {
    width: 100%;
    padding: 15px;
    position: relative;
    z-index: 9;
    font-size: var(--desktop_date_font);
    text-align: center;
    text-transform: capitalize;
}

.instaCalendar .ic-controls .ic-title_month a {
    display: block;
    height: 30px;
    width: 150px;
    margin: auto;
    text-align: center;
}


.instaCalendar .ic-calendar .ic-for_events {
    width: 100%;
}

.instaCalendar .ic-calendar .ic-for_events .ic-th {
    text-align: center;
    line-height: 48px;
    font-size: var(--desktop_days_of_week_font);
}

.instaCalendar .ic-calendar .ic-for_events .ic-table {
    table-layout: fixed;
    width: 100%;
}

.instaCalendar .ic-calendar .ic-for_events .ic-table .ic-thead .ic-td {
    padding: 10px;
    text-align: center;
}

.instaCalendar .ic-calendar .ic-for_day {
    background-color: var(--secondaryColor);
    border: 2px solid var(--primaryColor);
}

.instaCalendar .ic-calendar .ic-for_day:hover,
.instaCalendar .ic-calendar .ic-for_day.ic-day_today {
    background-color: var(--primaryColor);
}

.instaCalendar .ic-calendar .ic-day {
    padding: 2px;
    cursor: pointer;
    color: var(--primaryTextColor);
    border: 2px solid transparent;
}

.instaCalendar .ic-calendar .ic-for_day:hover .ic-day,
.instaCalendar .ic-calendar .ic-for_day.ic-day_today .ic-day {
    border-color: var(--primaryTextColor);
}

.instaCalendar .ic-calendar .ic-day .ic-day_number {
    font-size: var(--desktop_month_days_numbers_font);
    margin: 0px 0 8px 0px;
}

.instaCalendar .ic-calendar .ic-day .ic-more {
    display: none;
}

.instaCalendar .ic-calendar .ic-event {
    font-size: 12px;
    margin-bottom: 3px;
    padding: 2px;
    color: black;
}

.instaCalendar .ic-calendar .ic-event:last-child {
    margin-bottom: 0px;
}

.instaCalendar .ic-event .ic-duration {
    font-size: var(--desktop_event_dur_seats_font);
    padding-top: 5px;
}

.instaCalendar .ic-event .ic-seats,
.instaCalendar .ic-event .ic-activity {
    font-size: var(--desktop_event_dur_seats_font);
    padding: 3px 0 2px;
}
.instaCalendar .ic-event .ic-activity.ic-activity-mobile {
    display: none;
}

.instaCalendar .ic-event .ic-title {
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-size: var(--desktop_event_title_time_font);
}

.instaCalendar .ic-event .ic-begin_time {
    font-size: var(--desktop_event_title_time_font);
}

/*	dropdown
********************/
.instaCalendar .insta_dropdown {
    position: relative;
}

.instaCalendar .insta_dropdown-title {

}

.instaCalendar .insta_dropdown-window {
    position: absolute;
    background: var(--primaryColor);
    border: 1px solid var(--primaryTextColor);
    top: 30px;
    padding: 3px 6px;
    width: 200px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(var(--primaryTextColorRGB),.35);
    -moz-box-shadow: 0px 0px 3px 0px rgba(var(--primaryTextColorRGB),.35);
    box-shadow: 0px 0px 3px 0px rgba(var(--primaryTextColorRGB),.35);
    display: none;
    z-index: 100;
}

.instaCalendar .insta_dropdown-window:after,
.instaCalendar .insta_dropdown-window:before {
    bottom: 100%;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.instaCalendar .insta_dropdown-window:after {
    border-color: transparent;
    border-bottom-color: var(--primaryColor);
    border-width: 8px;
    margin-left: -8px;
}

.instaCalendar .insta_dropdown-window:before {
    background: transparent;
    border-bottom-color: var(--primaryTextColor);
    border-width: 9px;
    margin-left: -9px;
}

.instaCalendar .insta_dropdown-content {
    max-height: 150px;
    overflow-y: auto;
}


/*	filter_1
********************/
.instaCalendar .insta_filter_1 {

}

.instaCalendar .insta_filter_1-item {
    border-bottom: 1px solid rgba(var(--primaryTextColorRGB),.35);
    padding: 3px 3px;
    font-size: var(--desktop_filter_list_font);
}

.instaCalendar .insta_filter_1-item:last-child {
    border: none !important;
}

.instaCalendar .insta_filter_1 .insta_table {
    width: 100%;
}

.instaCalendar .insta_filter_1 .insta_table-td {
    vertical-align: bottom;
    padding: 0px;
    margin: 0px;
    line-height: 18px;
}

.instaCalendar .insta_filter_1 .insta_table-td:first-child {
    width: 3px;
}

.instaCalendar .insta_filter_1 .insta_table-td:last-child {
    padding-left: 10px;
}

.instaCalendar .insta_filter_1 a:hover {
    text-decoration: underline;
}

.instaCalendar .insta_filter_1 span {
    color: rgba(var(--primaryTextColorRGB),.7);
    font-size: 11px;
    margin-left: 5px;
}

.instaCalendar.ic-loading {
    pointer-events: none;
}

.instaCalendar.ic-loading .ic-loader {
    width: 100%;
    height: 100%;
    background: rgba(var(--primaryTextColorRGB),.3);
    z-index: 1;
    display: block;
    position: absolute;
}

.instaCalendar.ic-loading .ic-loader:after {
    content: ' ';
    border: 2px solid transparent;
    border-top: 2px solid var(--secondaryTextColor);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    position: absolute;
}


#instaModal form {
    margin: 0;
    padding: 0;
}

#instaModal h2 {
    font-size: 18px !important;
    margin: 0 0px 10px 0px;
}

#instaModal .ic-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--primaryTextColorRGB),.10);
    z-index: 999999;
}

#instaModal .ic-modal {
    position: absolute;
    width: 360px;
    background-color: var(--secondaryColor);
    color: var(--primaryTextColor);
    left: calc(50% - 180px);
    top: 15%;
    padding: 10px 15px 10px 15px;
    overflow: hidden;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;

    -webkit-box-shadow: 0px 0px 3px 0px rgba(var(--primaryTextColorRGB),.35);
    -moz-box-shadow: 0px 0px 3px 0px rgba(var(--primaryTextColorRGB),.35);
    box-shadow: 0px 0px 3px 0px rgba(var(--primaryTextColorRGB),.35);
}

#instaModal .ic-modal-title {
    font-size: 18px;
    margin: 2px 0px 15px 0px;
    min-height: 30px;
}

#instaModal .ic-modal-title span.dashicons-no-alt {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    display: block;
    width: auto;
    height: auto;
    font-size: 30px;
    opacity: 0.9;
    cursor: pointer;
}

#instaModal .ic-modal-title .ic-select.ic-profile {
    display: inline-block;
    position: absolute;
    width: 176px;
    border: 1px solid var(--primaryTextColor) !important;
    color: var(--primaryTextColor);
    border-radius: 3px;
    padding: 2px 10px;
    box-shadow: none;
    text-shadow: none;
    font-size: 14px;
    cursor: pointer;
    background: var(--secondaryColor);
    z-index: 1;
}
#instaModal .ic-modal-title .ic-select.ic-profile span{
    position: absolute;
    top: 5px;
    right: 5px;
}

#instaModal .ic-modal-title .ic-select .dashicons-arrow-up-alt2,
#instaModal .ic-modal-title .ic-select.open .dashicons-arrow-down-alt2
{
    display: none;
}

#instaModal .ic-modal-title .ic-select.open .dashicons-arrow-up-alt2,
#instaModal .ic-modal-title .ic-select.open .ic-select-item,
#instaModal .ic-modal-title .ic-select .ic-select-item.active
{
    display: block;
}

#instaModal .ic-modal-title span:hover {
    opacity: 1;
}
#instaModal .ic-modal-title .ic-select .ic-select-items {
    width: 100%;
    color: var(--primaryTextColor);
}
#instaModal .ic-modal-title .ic-select .ic-select-item {
    display: none;
    padding: 2px 0px;
    opacity: 0.6;
}
#instaModal .ic-modal-title .ic-select .ic-select-item:hover,
#instaModal .ic-modal-title .ic-select .ic-select-item.active {
    opacity: 1;
}

#instaModal .ic-modal-content {
    /*overflow-y: auto;
    max-height: 230px;*/
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 16px;
}

#instaModal .ic-modal-event {
    margin-bottom: 10px;
}

#instaModal .ic-modal-img {
    margin: 10px 0 10px 0px;
}

#instaModal .ic-instructor {
    border: none;
    background-color: var(--secondaryTextColor) !important;
    color: var(--secondaryColor);
    border-radius: 3px;
    padding: 7px 12px;
    width: 100%;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    opacity: 0.9;
    margin: 10px 0;
}

#instaModal .ic-instructor:hover {
    opacity: 1;
}

#instaModal .ic-modal-content p {
    font-size: 13px;
    color: var(--primaryTextColor);
    text-indent: 1.5em;
}

#instaModal .ic-modal-content label {
    font-size: 16px;
    font-weight: inherit;
}

#instaModal .ic-modal-content label span {
    margin: 0px 0 10px 0;
    display: inline-block;
}

#instaModal .ic-form-fields {
    margin: 10px 0px 20px 0;
}

#instaModal .ic-modal-content input[type=text] {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid var(--primaryTextColor);
    background: var(--secondaryColor);
    color: var(--primaryTextColor);
    font-size: 16px;
    border-radius: 3px;
    box-shadow: none;
    opacity: 0.7;
    height: 48px;
}

#instaModal .ic-modal-content input[type=text]::placeholder {
    color: var(--primaryTextColor);
}

#instaModal .ic-modal-content input[type=text]:focus {
    opacity: 1;
    outline: none;
}

#instaModal .ic-modal-content table {
    background-color: inherit;
    color: inherit;
    margin: 0 0 20px 0;;
    border: none;
}

#instaModal .ic-modal-content table th,
#instaModal .ic-modal-content table td {
    background: inherit;
    border: none;
    color: inherit;
    padding: 8px 10px;
}

#instaModal .ic-modal-row {
    font-size: 14px;
    padding: 4px 0;
}

#instaModal .ic-modal-row .ic-modal-row-title {
    display: inline-block;
    width: 50%;
    text-align: left;
}

#instaModal .ic-card-group {
    margin-bottom: 20px;
}

#instaModal .ic-card-group-title {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}


#instaModal .ic-visit {
    padding: 10px 0;
    position: relative;
}

#instaModal .ic-visit > div {
    font-size: 12px;
}

#instaModal .ic-visit > div > span {
    font-weight: bold;
}

#instaModal .ic-visit .ic-visit-title {
    font-size: 14px;
    font-weight: bold;
    padding: 0px 80px 0px 0px;
}

#instaModal .ic-visit .ic-visit-cancel {
    position: absolute !important;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.5;
}
#instaModal .ic-visit .ic-visit-cancel.ic-loader{
    opacity: 0.2!important;
}
#instaModal .ic-visit .ic-visit-cancel.ic-loader:after{
   display: none!important;
}

#instaModal .ic-visit .ic-visit-cancel:hover {
    opacity: 1;
}

#instaModal .ic-modal-button {
    position: relative;
    opacity: 0.9;
    cursor: pointer;
}

#instaModal .ic-modal-button:hover {
    opacity: 1;
}

#instaModal .ic-modal-button.ic-submit {
    margin-top: 10px;
}

#instaModal .ic-modal-button a {
    color: var(--primaryTextColor);
    border-radius: 3px;
    padding: 8px 12px;
    width: 100%;
    min-height: 42px;
    box-shadow: none;
    text-shadow: none;
    border: 1px solid var(--primaryTextColor);
}

#instaModal .ic-modal-button input[type=submit],
#instaModal .ic-modal-button input[type=button]
{
    border: none;
    background-color: var(--secondaryTextColor) !important;
    color: var(--secondaryColor);
    border-radius: 3px;
    padding: 7px 12px;
    width: 100%;
    min-height: 42px;
    box-shadow: none;
    text-shadow: none;
}

#instaModal .ic-modal-button input[type=submit]:disabled {
    opacity: 0.2;
    pointer-events: none;
}

#instaModal .ic-modal-button.ic-submit {
    margin-top: 10px;
}

#instaModal .ic-modal-mess {
    padding: 8px;
    font-weight: 600;
    color: var(--secondaryTextColor);
    text-align: center;
    border: 1px solid var(--secondaryTextColor);
    margin: 10px 0px;
}

#instaModal .ic-payments, #instaModal .ic-cards {
    margin: 25px 0;
}

#instaModal .ic-payment, #instaModal .ic-card {
    padding: 7px 10px;
    border: 1px solid var(--secondaryTextColor);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.9;
    position: relative;
    font-size: 14px;
    background-color: var(--secondaryTextColor);
    color: var(--secondaryColor);
    line-height: 24px;
}

#instaModal .ic-payment:hover, #instaModal .ic-card:hover {
    opacity: 1;
}

#instaModal .ic-card-title {
    font-size: 14px;
    font-weight: bold;
    padding: 0 48px 0 0px;
}

#instaModal .ic-card-price {
    position: absolute;
    font-weight: bold;
    right: 10px;
    top: 12px;
}

#instaModal .ic-modal-user-profile, #instaModal .ic-user-cards {
    margin-bottom: 15px;
}

#instaModal .ic-user-card {
    padding: 12px 10px;
    border: 1px solid var(--secondaryTextColor);
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 0.9;
    position: relative;
    font-size: 14px;
    background-color: var(--secondaryTextColor);
    color: var(--secondaryColor);
}

#instaModal .ic-user-card:hover {
    opacity: 1;
}

#instaModal .ic-user-card .ic-modal-button {
    background: var(--primaryColor) !important;
    color: var(--primaryTextColor) !important;
    padding: 8px 15px;
    text-align: center;
    border-radius: 4px;
    margin-top: 15px;
    display: block;
    width: 100%;
}

#instaModal .ic-user-card .ic-modal-button.ic-loader {
   opacity: 0.5;
}

#instaModal .ic-user-card .ic-modal-row {
    font-size: 13px;
    padding: 2px 0;
}

#instaModal .ic-user-card .ic-modal-row .ic-modal-row-title {
    width: 55%;
}

#instaModal .ic-user-card .ic-modal-row span {
    float: right;
}

#instaModal .ic-payment img {
    position: absolute;
    right: 10px;
    top: 6px;
}

#instaModal .ic-payment-offer {
    font-size: 9px;
    color: var(--primaryTextColor);
    text-decoration: underline;
    opacity: 0.9;
    margin: 0px 0px 10px 0px;
    display: inline-block;
}

#instaModal .ic-payment-offer:hover {
    opacity: 1;
    color: var(--primaryTextColor);
}

#instaModal .ic-card.inactive {
    opacity: 0.4;
}

#instaModal .ic-card.inactive:hover {
    opacity: 0.9;
}

#instaModal.ic-loading .ic-modal {
    pointer-events: none;
}

#instaModal.ic-loading .ic-loader {
    position: relative;
}

#instaModal.ic-loading .ic-loader > * {
    opacity: 0.2 !important;
}

#instaModal.ic-loading .ic-loader:after {
    content: ' ';
    border: 2px solid transparent;
    border-top: 2px solid var(--secondaryColor);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    position: absolute;
}
#instaModal.ic-loading .ic-modal-content.ic-loader:after {
    content: ' ';
    border: 2px solid transparent;
    border-top: 2px solid var(--secondaryTextColor);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    position: absolute;
}

#instaModal label {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

#instaModal label.ic-form-field {
    margin: 0 0 15px 0;
}

#instaModal label.ic-modal-checkbox {
    text-align: left;
    padding: 0 0 10px 0;
}

#instaModal label.ic-modal-checkbox input {
    display: inline-block;
    vertical-align: text-bottom;
    position: initial;
}

#instaModal .ic-modal-buttons label.ic-modal-checkbox a {
    display: inline-block;
    vertical-align: text-bottom;
    padding: 0px 0px 0px 10px;
    margin: 0;
    text-decoration: underline !important;
    line-height: normal;
}

#instaModal .ic-modal-field-error {
    color: red;
    font-size: 12px;
    margin: 0px 0px 5px 5px;
}

#instaModal label .ic-modal-field-error {
    margin: 10px 0px 5px 5px;
}

#instaModal .ic-message-error {
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
    color: red;
}


#instaModal label.ic-form-field-radio {
    display: inline-block;
    width: 48%;
}

#instaModal .ic-modal-buttons {
    text-align: center;
}

#instaModal .ic-modal-buttons a {
    color: var(--primaryTextColor);
    margin: 15px 0 0 0;
    display: block;
    opacity: 0.9;
}

#instaModal .ic-modal-buttons a:hover {
    opacity: 1;
}

#instaModal .ic-modal-user-panel {
    margin-top: 10px;
    padding: 10px 0 0 0;
    text-align: center;
}

#instaModal .ic-modal-user-panel .ic-modal-user-button {
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 24%;
    cursor: pointer;
    opacity: 0.7;
}

#instaModal .ic-modal-user-panel .ic-modal-user-button.current {
    font-weight: bold;
    opacity: 0.9;
}

#instaModal .ic-modal-user-panel .ic-modal-user-button:hover {
    opacity: 1;
}
/*
#instaModal .ic-modal-user-panel .ic-modal-user-button:first-child,
#instaModal .ic-modal-user-panel .ic-modal-user-button:last-child {
    width: 25%;
}*/

#instaModal .ic-modal-user-panel .dashicons {
    font-size: 26px;
    width: 26px;
}

#instaModal .ic-modal-user-panel span:last-child {
    display: block;
    text-align: center;
    font-size: 12px;
}

#instaModal .ic-table .ic-td,
#instaModal .ic-table .ic-th {
    margin: 0;
    padding: 5px 10px 6px 10px;
}


.instaCalendar .ic-mobile {
    display: none;
}

.instaCalendar .ic-desktop {
    display: revert;
}

.instaCalendar .ic-table-week .ic-thead .ic-desktop {
    text-align: center;
    font-size: var(--desktop_days_of_week_font);
}


.instaCalendar .ic-table {
    display: table;
}

.instaCalendar .ic-tr {
    display: table-row;
}

.instaCalendar .ic-thead {
    display: table-header-group;
}

.instaCalendar .ic-tbody {
    display: table-row-group;
}

.instaCalendar .ic-tfoot {
    display: table-footer-group;
}

.instaCalendar .ic-col {
    display: table-column;
}

.instaCalendar .ic-colgroup {
    display: table-column-group;
}

.instaCalendar .ic-td,
.instaCalendar .ic-th {
    display: table-cell
}

.instaCalendar .ic-caption {
    display: table-caption
}

.instaCalendar .ic-table-week > .ic-thead > .ic-td {
    text-align: center;
}

.instaCalendar .ic-table-week > .ic-events > .ic-tr:nth-child(2n) > .ic-td {
    vertical-align: top;
    background: var(--secondaryColor);
    padding: 2px;
    border-color: var(--primaryColor);
    border-style: solid;
    border-width: 0 2px 0px 0px;
    height: 60px;
}

.instaCalendar .ic-table-week > .ic-events > .ic-tr:nth-child(2n) > .ic-td:first-child {
    border-width: 0 2px 0px 2px;
}

.instaCalendar .ic-table-week > .ic-events > .ic-tr:nth-child(2n-1) > .ic-td {
    text-align: left;
    padding: 10px 0px 5px 15px;
    font-size: var(--desktop_week_hours_font);
}

.instaCalendar .ic-table-week > .ic-events > .ic-tr.no-events > .ic-td {
    display: table-cell;
    padding: 10px;
    text-align: center;
}

.instasport-button{
    border: none;
    background-color: var(--secondaryTextColor) !important;
    color: var(--secondaryColor);
    border-radius: 3px;
    padding: 7px 12px;
    width: 100%;
    box-shadow: none;
    text-shadow: none;
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
    cursor: pointer;
    margin: 10px 0;
}
.instasport-button:hover{
    opacity: 1;
}
.instaCalendar .ic-event .ic-zone {
    display: none;
}
@media (max-width: 768px) {
    .instaCalendar .ic-mobile {
        display: revert;
    }

    .instaCalendar .ic-event .ic-begin_time {
        font-size: var(--mobile_event_title_time_font);
        line-height: var(--mobile_event_title_time_font);
    }

    .instaCalendar .ic-desktop {
        display: none;
    }

    .instaCalendar .ic-calendar .ic-halls {
        padding-right: 0px;
    }

    .instaCalendar .ic-controls {
        background: var(--primaryColor);
        color: var(--primaryTextColor);
    }

    .instaCalendar .ic-controls .ic-control {
        opacity: 1;
    }

    .instaCalendar .ic-control span {
        color: var(--primaryTextColor);
    }

    .instaCalendar .ic-controls .ic-title_month {
        color: var(--primaryTextColor);
    }

    .instaCalendar .ic-table-week .ic-thead {
        background: var(--primaryColor);
    }

    .instaCalendar .ic-table-week .ic-thead .ic-mobile {
        background: rgba(var(--primaryColorRGB),.1);
        margin: 10px 0px 10px 10px;
        padding: 10px;
        text-align: center;
        border: none;
        color: var(--primaryTextColor);
    }

    .instaCalendar .ic-table-week .ic-thead .ic-today .ic-mobile {
        font-weight: bold;
    }

    .instaCalendar .ic-table-week .ic-thead .ic-td:last-child .ic-mobile {
        margin: 10px;
    }

    .instaCalendar .ic-table-week .ic-thead .ic-td:first-child {
        /*display: none;*/
    }

    .instaCalendar .ic-table-week .ic-events .ic-td {
        display: none;
        border: none;
    }

    .instaCalendar .ic-table-week .ic-event .ic-td {
        display: inline-block;
    }

    .instaCalendar .ic-tr.ic-tr-time{
        display: none;
    }

    .instaCalendar .ic-table-week > .ic-events > .ic-tr > .ic-td {
        padding: 2px !important;
    }
    .instaCalendar .ic-table-week > .ic-events > .ic-tr:nth-child(2n) > .ic-td:first-child {
        border-width: 0 3px 0px 2px;
    }
    .instaCalendar .ic-table-week > .ic-events > .ic-tr:nth-child(2n) > .ic-td {
        border-width: 0px 2px 0px 2px;
        background: var(--primaryColor);
        border-color: var(--primaryColor);
    }

    .instaCalendar .ic-table-week .ic-events .ic-td.active {
        display: table-cell;
    }

    .instaCalendar .ic-table-week .ic-events .ic-td.active.empty {
        display: none;
    }

    .instaCalendar .ic-table-week .ic-thead .ic-td.active .ic-mobile {
        color: var(--secondaryTextColor);
    }

    .instaCalendar .ic-table-week .ic-events .ic-event {
        padding: 5px;
        border-bottom: 3px solid rgba(var(--primaryColorRGB),.9);
        background-color: rgba(var(--primaryColorRGB),.1);
        position: relative;
    }

    .instaCalendar .ic-event .ic-activity.ic-mobile {
        display: inline-block;
    }
    .instaCalendar .ic-event .ic-activity.ic-desktop {
        display: none;
    }

    .instaCalendar .ic-table-week .ic-events .ic-event>.ic-table {
        position: absolute;
        bottom: 5px;
    }
    .instaCalendar .ic-table-week .ic-events .ic-event .ic-duration{
        display: none;
    }

    .instaCalendar .ic-event .ic-detail{
         padding: 0px;
        margin-left: 40px;
    }
    .instaCalendar .ic-event .ic-zone {
        display: inline-block;
        margin-right: 10px;
        font-size: var(--mobile_event_dur_seats_font);
        line-height: var(--mobile_event_dur_seats_font);
    }
    .instaCalendar .ic-event .ic-seats {
        display: inline-block;
    }

    .instaCalendar .insta_dropdown-content {
        max-height: 250px;
    }

    .instaCalendar .insta_filter_1-item {
        padding: 10px 3px;
    }

    .instaCalendar .ic-table-week .ic-thead .ic-mobile {
        margin: 1px 0px 1px 1px;
    }

    .instaCalendar .ic-table-week .ic-thead .ic-td:last-child .ic-mobile {
        margin: 1px;
    }

    .instaCalendar .ic-table-week > .ic-events > .ic-tr:nth-child(2n-1) > .ic-td:first-child {
        display: block;
    }
    .instaCalendar .ic-calendar .ic-filters .ic-zones ul li a.ic-filter-item{
        font-size: calc(var(--mobile_nav_filter_font) - 2px)!important;
    }
}